
<!-- Structure principale de la page - centrée verticalement et horizontalement -->
<div class="min-h-screen bg-gray-50 flex items-center justify-center py-12 px-4 dark:bg-[rgb(27,30,61)]">
  <div class="w-full max-w-md">
    
    <div *ngIf="showToast" class="fixed top-4 left-0 w-full z-50 flex justify-center">
    <div [ngClass]="{
      'bg-green-500': toastType === 'success',
      'bg-red-500': toastType === 'error'
    }"
        class="text-white px-6 py-3 rounded shadow-md w-full max-w-md mx-auto flex justify-between items-center animate-slide-down">
        <p class="text-lg text-center font-semibold">{{ toastMessage }}</p>
    </div>
</div>


    <!-- Card du formulaire de connexion avec ombre renforcée -->
    <div class="mb-8 shadow-2xl rounded-lg bg-card text-card-foreground dark:bg-[rgb(61,89,161)]">
      <!-- En-tête de la card -->
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="flex items-center gap-2 text-center justify-center text-2xl font-semibold leading-none tracking-tight dark:text-[rgb(212,220,255)]">
       
          <svg class="w-5 h-5 text-black dark:text-[rgb(212,220,255)]" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M2.00098 11.999L16.001 11.999M16.001 11.999L12.501 8.99902M16.001 11.999L12.501 14.999" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.3531 21.8897 19.1752 21.9862 17 21.9983M9.00195 17C9.01406 19.175 9.11051 20.3529 9.87889 21.1213C10.5202 21.7626 11.4467 21.9359 13 21.9827" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
          Connexion
        </h3>
      </div>
      
      <!-- Contenu du formulaire -->
      <div class="p-6 pt-0">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
          <!-- Champ email -->
          <div class="space-y-2">
            <label for="email" class="flex items-center gap-2 text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 dark:text-[rgb(212,220,255)]">
            💁
              Username
            </label>
            <input 
              type="text" 
              placeholder="votre username" 
              formControlName="username"
              class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 disabled:cursor-not-allowed disabled:opacity-50 dark:border-[rgb(212,220,255)] dark:focus:border-[rgb(27,30,61)] dark:focus:ring-[rgb(27,30,61)] dark:text-[rgb(212,220,255)]"
              required
            />
          </div>

          <!-- Champ mot de passe -->
          <div class="space-y-2">
            <label for="password" class="flex items-center gap-2 text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 dark:text-[rgb(212,220,255)]">
          🔑
              Password
            </label>
            <div class="relative">
              <input 
                type="password" 
                placeholder="••••••••" 
                formControlName="password"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 pr-10 disabled:cursor-not-allowed disabled:opacity-50 dark:border-[rgb(212,220,255)] dark:focus:border-[rgb(27,30,61)] dark:focus:ring-[rgb(27,30,61)] dark:text-[rgb(212,220,255)]"
                required
              />
              <button 
                type="button" 
                class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-gray-600"
              >
                <!-- Icône Eye ou EyeOff -->
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                  <circle cx="12" cy="12" r="3"></circle>
                </svg>
              </button>
            </div>
          </div>

          <!-- Bouton de connexion -->
          <button [disabled]="isLoading" type="submit" class="w-full bg-blue-600 hover:bg-blue-700 py-3 text-lg inline-flex items-center justify-center rounded-md  font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-white dark:bg-[rgb(27,30,61)] dark:hover:bg-[rgb(21,23,44)]">
            <!-- Version normale -->
            <div  class="flex items-center gap-2">
              <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
              
              <span class="text-center" *ngIf="isLoading">Connexion...</span>
               <span *ngIf="!isLoading">Connexion</span>
              <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="m12 5 7 7-7 7"></path>
              </svg>
            </div>
          </button>
        </form>
      </div>
    </div>

    <!-- Liens de retour -->
    <div class="text-center">
      <div class="flex flex-col sm:flex-row gap-4 justify-center">
        <a href="/" class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 border-blue-600 text-blue-600 hover:bg-blue-50 bg-transparent dark:border-[rgb(61,89,161)] dark:text-[rgb(212,220,255)] dark:hover:bg-[rgb(61,89,161)]">
          Retour au site
        </a>

      </div>
    </div>
  </div>
</div>